node_modules/
src-tauri/target/
package-lock.json
*.xlsx
!Plantilla_Notas_ESO.xlsx
exe/
desktop.ini
ESOplantillaNotas_backup_20260605_004811.zip
Copia de Plantilla_Notas_ESO.xlsm
backups/
plantilla_notas_eso_web/